*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    background-color: #fff6e1ee;
    color: #333;
    perspective: 1000px;
}



header {
    padding: 20px;
    text-align: center;
    
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
    list-style-type: none;
}

nav li {
    align-items: center;
    padding: 10px;
    transition: .18s ease;
}

nav li:hover {
    transform: scale(1.05);
}

main {
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
    padding: 20px;
}

/* Targeta */

#projects{
    padding-top: 10px;
}

#projects .project {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 70px;
    margin-top: 50px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 14px rgba(0, 0, 0, 0.185);
    max-width: 350px;
    background: linear-gradient(#c4c7ff82, #00089f5a) ;
    transform-style: preserve-3d;
    transition: transform 0.1s ease-out, box-shadow 0.1s ease-out;
}

.project:hover{
    transform: scale(1.02);
}

#projects h2{
    margin-top: 30px;
}

#projects .project h3 {
    margin-bottom: 30px;
    margin-top: 0;
}

.contact-links {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding: 20px;
    
}

.contact-links li {
    margin: 0 10px;
    transition: .18s ease;
}

.contact-links li:hover{
    transform: scale(1.05);
}

.lista-tecnologias{
    text-align: left;
    list-style-type:circle;
    padding: 0;
}


footer {
    text-align: center;
    padding: 20px;
}